#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
1 VERSIONINFO
    FILEVERSION     1, 3, 0, 1
    FILEOS          VOS_NT_WINDOWS32
    FILETYPE        VFT_APP
    FILESUBTYPE     VFT2_UNKNOWN
    FILEFLAGSMASK   0x00000000
    FILEFLAGS       0x00000000
{
    BLOCK "StringFileInfo"
    {
        BLOCK "041204b0"
        {
            VALUE "CompanyName", "rh2357a"
            VALUE "LegalTrademarks", "rh2357a"
            VALUE "LegalCopyright", "rh2357a"
            VALUE "ProductName", "PowerTray"
            VALUE "FileDescription", "PowerTray v1.3.0.1"
            VALUE "ProductVersion", "1.3.0.1"
            VALUE "OriginalFilename", "PowerTray.exe"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x412, 1200
    }
}
